/************
 * 页面样式
 ************/

/* ==========
   基本默认值
   ========== */

html {
    font-size: 62.5%;
    color: #222;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* ==========
   工具样式
   ========== */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearFix:before,
.clearFix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ===============
   浏览器更新提示
   =============== */

.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}

/* ===============
   自定义页面样式
   =============== */

body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #0ae;
    text-decoration: underline;
}

/* 网站头部 */
body{
    padding: 0 10px;
}
.header{
    position: relative;
    height: 100px;
    border-bottom: 1px solid #ddd;
}
.head_icon{
    width: 100px;
    height: 100px;
    float: left;
}

.head_icon img{
    display: block;
    width: 100%;
}
.head_right{
    width: calc(100% - 120px);
    padding: 10px;
    height: 80px;
    float: left;
    font-size: 22px;
    position: relative;
}

.app_info{
    width: calc(100% - 50px);
    position: absolute;
    bottom:10px;
    left: 10px;
    font-size: 12px;
}

.download_btn{
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    bottom:10px;
    right: 10px;
    border: 1px solid #00a8ee;
    color: #00a8ee;
}

.container section{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.container section:last-child{
    border-bottom: none;
}
