<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>果搜关键词覆盖率</title>
  {%include 'bdtj.html'%}
  <style type="text/css">
    table {
      width: 100%;
      border-collapse: collapse;
    }

    td, th {
      border: 1px solid #999;
      border-collapse: collapse;
      padding: 5px 10px;
    }

    .appname {
      width: 200px;
    }

    .up {
      color: green;
    }

    .down {
      color: red;
    }

    .row:nth-child(odd) {
      background: #fff;
    }

    .row:nth-child(even) {
      background: #ddd;
    }

  </style>
</head>
<body>
<div style="font-size: 16px;">
  共{{len(apps)}}条数据
  <!--作者筛选-->
  <label>作者: </label>
  <select id="authors">
    <option value="all">全部</option>
    {% for item in authors %}
    <option value="{{item.author}}" {%if filter_author== item.author%} selected="selected" {%end%}>{{item.author}}
    </option>
    {% end%}
  </select>

  <!--排序筛选-->
  <label>排序字段: </label>
  {%set sortbyItems=[
  {"value": "update_time", "text":"应用更新时间"},
  {"value": "cover_all", "text":"全部"},
  {"value": "top3", "text":"top3"},
  {"value": "cover_top10", "text":"top10"},
  {"value": "|护|", "text":"护师"},
  {"value": "|成人|", "text":"成人高考"},
  {"value": "|公务|", "text":"公务员"},
 {"value": "|单位|", "text":"公务员1"},
  {"value": "|书法|", "text":"书法"},
  {"value": "|钢琴|", "text":"钢琴"},
  {"value": "|教师|", "text":"教师"},
  {"value": "|织|", "text":"编织"},
  {"value": "|歌|", "text":"唱歌"},
  {"value": "|号码|", "text":"手机号码"},
  {"value": "|签名|", "text":"签名"},
  {"value": "|剖|", "text":"解剖"},
  {"value": "|藏头诗|", "text":"藏头诗"},
  {"value": "|影|", "text":"会声会影"},
  {"value": "|英语|", "text":"英语"},
  {"value": "|小学英语|", "text":"小学英语"},
  {"value": "|车|", "text":"汽车"},
  {"value": "|素描|", "text":"素描"},
  {"value": "|office|", "text":"office"},
  {"value": "|ppt|", "text":"PPT"},
  {"value": "|excel|", "text":"excel"},
  {"value": "|cad|", "text":"CAD"},
  {"value": "|ps|", "text":"PS"},
  {"value": "|拼音|","text":"拼音"}]%}
  <select id="sortby">
    {% for item in sortbyItems %}
    <option value="{{item['value']}}" {%if filter_sortby== item[
    "value"] %} selected="selected" {%end%}>
    {{item["text"]}}
    </option>
    {% end%}
  </select>


  <button id="update">手动更新数据</button>
</div>
<table style="border: 1px solid #ccc">
  <tr style="background-color: #ccc">
    <th colspan="6">应用信息</th>
    <th colspan="3">今日数据</th>
    <th colspan="3">对比昨天</th>
    <!--<th colspan="3">对比上周</th>-->
    <!--<th colspan="3">对比上月</th>-->
  </tr>
  <tbody>
  <tr>
    <td style="width: 50px;">序号</td>
    <td class="appname">名称</td>
    <td style="width: 90px">AppID</td>
    <td style="width: 50px;">价格</td>
    <td style="width: 50px;">作者</td>
    <td style="width: 140px;">更新时间</td>

    <td>全部</td>
    <td>top3</td>
    <td>top10</td>

    <td>top10</td>
    <td>top3</td>
    <td>全部</td>
    {############################
    <td>全部</td>
    <td>top3</td>
    <td>top10</td>

    <td>全部</td>
    <td>top3</td>
    <td>top10</td>
    ###############################}

  </tr>

  {%for index, item in enumerate(apps)%}

  {% set yes_cover_all_delta = item['yesterday']['cover_all_delta'] %}
  {% set yes_cover_top3_delta = item['yesterday']['cover_top3_delta'] %}
  {% set yes_cover_top10_delta = item['yesterday']['cover_top10_delta'] %}

  {##########################
  {% set week_cover_all_delta = item['week']['cover_all_delta'] %}
  {% set week_cover_top3_delta = item['week']['cover_top3_delta'] %}
  {% set week_cover_top10_delta = item['week']['cover_top10_delta'] %}

  {% set month_cover_all_delta = item['month']['cover_all_delta'] %}
  {% set month_cover_top3_delta = item['month']['cover_top3_delta'] %}
  {% set month_cover_top10_delta = item['month']['cover_top10_delta'] %}
  ################################}
  <tr class="row">

    <!--应用信息-->
    <td>{{index + 1}}</td>
    <td>
      <a target="_blank"
         href="http://guoaso.com/keyword?appid={{item.appid}}&country=cn&device=iphone">{{item.appname}}</a>
    </td>
    <td>{{item['appid']}}</td>
    <td>
      {{item['price']}}
    </td>
    <td>{{item['author']}}</td>
    <td>{{item['update_time']}}</td>

    <!--今天数据-->
    <td>{{item['cover_all']}}</td>
    <td>{{item['cover_top3']}}</td>
    <td>{{item['cover_top10']}}</td>


    <!--昨天数据-->
    <td>
      {% if yes_cover_top10_delta > 0 %}
      <span class="up">&uarr; </span>
      {% elif yes_cover_top10_delta == 0 %}
      {% else %}
      <span class="down">&darr;</span>
      {% end %}
      {{yes_cover_top10_delta}}
    </td>

    <td>
      {% if yes_cover_all_delta > 0 %}
      <span class="up">&uarr; </span>
      {% elif yes_cover_all_delta == 0 %}
      {% else %}
      <span class="down">&darr;</span>
      {% end %}
      {{yes_cover_all_delta}}
    </td>
    <td>
      {% if yes_cover_top3_delta > 0 %}
      <span class="up">&uarr; </span>
      {% elif yes_cover_top3_delta == 0 %}
      {% else %}
      <span class="down">&darr;</span>
      {% end %}
      {{yes_cover_top3_delta}}
    </td>


    {#########################
    <!--上周数据-->
    <td>
      {% if week_cover_all_delta > 0 %}
      <span class="up">&uarr; </span>
      {% elif week_cover_all_delta == 0 %}
      {% else %}
      <span class="down">&darr;</span>
      {% end %}
      {{week_cover_all_delta}}
    </td>
    <td>
      {% if week_cover_top3_delta > 0 %}
      <span class="up">&uarr; </span>
      {% elif week_cover_top3_delta == 0 %}
      {% else %}
      <span class="down">&darr;</span>
      {% end %}
      {{week_cover_top3_delta}}
    </td>
    <td>
      {% if week_cover_top10_delta > 0 %}
      <span class="up">&uarr; </span>
      {% elif week_cover_top10_delta == 0 %}
      {% else %}
      <span class="down">&darr;</span>
      {% end %}
      {{week_cover_top10_delta}}
    </td>


    <!--上月数据-->
    <td>
      {% if month_cover_all_delta > 0 %}
      <span class="up">&uarr; </span>
      {% elif month_cover_all_delta == 0 %}
      {% else %}
      <span class="down">&darr;</span>
      {% end %}
      {{month_cover_all_delta}}
    </td>
    <td>
      {% if month_cover_top3_delta > 0 %}
      <span class="up">&uarr; </span>
      {% elif month_cover_top3_delta == 0 %}
      {% else %}
      <span class="down">&darr;</span>
      {% end %}
      {{month_cover_top3_delta}}
    </td>
    <td>
      {% if month_cover_top10_delta > 0 %}
      <span class="up">&uarr; </span>
      {% elif month_cover_top10_delta == 0 %}
      {% else %}
      <span class="down">&darr;</span>
      {% end %}
      {{month_cover_top10_delta}}
    </td>

    #######################################}

  </tr>
  {%end%}
  </tbody>
</table>


<script type="text/javascript">
  var authors = document.getElementById('authors')
  var sortby = document.getElementById('sortby')
  var update = document.getElementById('update')
  authors.addEventListener('change', filterReload)
  sortby.addEventListener('change', filterReload)
  update.addEventListener('update', updateData)

  function filterReload() {
    location = "/guoaso?author=" + encodeURIComponent(authors.options[authors.selectedIndex].value)
            + '&sortby=' + encodeURIComponent(sortby.options[sortby.selectedIndex].value)
  }

  function updateData() {
    var url = "/api/guoaso/update"
    var xhr = new xhrRequest()
    xhr.open("GET", url, true)
    xhr.onreadystatechange = function () {
      if (xhr.readyState == 4 && xhr.status == 200) {
//        update.textContent = xhr.responseText;
      }
    }
    xhr.send()
  }
</script>
</body>
</html>
