<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>关键词-搜索指数-搜索结果数</title>
  {%include 'bdtj.html'%}
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>
<body>

<div style="margin: 10px;">
  <form class="pure-form" onsubmit="return false">
    <fieldset>
      <legend>搜索</legend>

      <label>
        搜索指数：
        <input type="text" data-sel="index" name="index" placeholder="搜索指数" value="4000">
      </label>
      <label>搜索结果数：
        <input type="text" data-sel="result" name="result" placeholder="搜索结果数" value="1000">
      </label>

      <label>页面地址：
        <input type="url" data-sel="url" name="url" placeholder="页面地址">
      </label>

      <button class="pure-button pure-button-primary" data-sel="search">搜索</button>

      <button class="pure-button pure-button-primary" data-sel="order">排序</button>
    </fieldset>
  </form>

</div>


<h3>共{{len(keyword_list)}}条数据</h3>
<table class="pure-table pure-table-bordered">
  <thead>
  <tr>
    <th>序号</th>
    <th>关键词</th>
    <th>搜索指数</th>
    <th>搜索结果数</th>
    <th>操作
      <a style="color: red" data-sel="delete-all">删除所有数据</a>
    </th>
  </tr>
  </thead>
  <tbody>
  {% for index, item in enumerate(keyword_list)%}
  <tr>
    <td>{{index + 1}}</td>
    <td>{{item.keyword}}</td>
    <td>{{item.name}}</td>
    <td>{{item.result}}</td>
    <td><a style="color: red" data-sel="delete" data-id={{item.id}}>删除</a></td>
  </tr>
  {%end%}
  </tbody>
</table>


<div>{%for item in keyword_list%}<span>{{item.keyword}},</span>{%end%}</div>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">

  $(document).on('click', '[data-sel=search]', function () {
    var index = $('[data-sel=index]').val()
    var result = $('[data-sel=result]').val()
    var url = $('[data-sel=url]').val()
    $.post('/api/keyword/search',
            {
              index: index,
              result: result,
              url: url
            })
            .done(function (data) {
              if (data.code) {
                alert('提交成功，请稍后刷新页面看数据，请不要重复提交: ' + data.data || '')
              } else {
                alert('提交失败')
              }
            })
            .error(function (err) {
              alert(err.message)
            })
  })

   $(document).on('click', '[data-sel=order]', function () {
    var index = $('[data-sel=index]').val()
    var result = $('[data-sel=result]').val()
    var url = $('[data-sel=url]').val()
    $.post('/api/keyword/order',
            {
              index: index,
              result: result,
              url: url
            })
            .done(function (data) {
              if (data.code) {
                alert('提交成功，请稍后刷新页面看数据，请不要重复提交: ' + data.data || '')
              } else {
                alert('提交失败')
              }
            })
            .error(function (err) {
              alert(err.message)
            })
  })

  $(document).on('click', '[data-sel=delete]', function () {
    var $this = $(this)
    var id = $this.attr('data-id')
    $.post('/api/keyword/' + id)
            .done(function (data) {
              if (data.code) {
                $this.closest('tr').remove()
              } else {
                alert('删除失败')
              }
            })
            .error(function (err) {
              alert(err.message)
            })
  })



  $(document).on('click', '[data-sel=delete-all]', function () {

    if (confirm('确定删除所有数据？删除后不可恢复！')) {
      $.post('/api/keyword/delete/all')
              .done(function (data) {
                if (data.code) {
                  $('tbody > tr').remove()
                } else {
                  alert('删除失败')
                }
              })
              .error(function (err) {
                alert(err.message)
              })
    }

  })
</script>
</body>
</html>
