<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:styles styles/combined.styles -->
  <!-- endbuild -->
</head>
<body>


<table>
  <tr>
    <th>页面访问计数</th>

  </tr>
  <tr>
    {% autoescape  %}

   <td>{{data[0].flag}}</td>


  </tr>
</table>

</body>
</html>
